body {  
  background-image: url(AdobeStock_427427908.jpeg);
  background-color: black;
  background-size: contain; 
  font-family: 'Libre Franklin', sans-serif;
  color: #efcc00; 
}
h1 {
	font-size: 3em;
	 font-weight: bold;
	 font-family: 'Dela Gothic One', sans-serif;
	 text-align: center;
}
h2 {
		text-align: center;
		font-size: 2em;
		font-family: 'Dela Gothic One', sans-serif;
}
h3 {
	font-size: 2em;	
}
h4 {
	font-size: 1.5em;
}
#quickref {
	margin: auto;
}
#quickref th {
	border: solid 1px #efcc00;
	padding: 1em;
	text-align: center;
	background-color: #652770;
	font-size: larger;
	font-weight: bold; 
	font-variant: small-caps;
	border-radius: 10px;
	}
#quickref td {
	border: solid 1px #efcc00;
	padding: 1em;
	text-align: center;
	background-color: gray;
}
#quickref ul {
	list-style-type: square;
}
#aliencol {
	font-size: larger;
	font-weight: bold; 
	font-variant: small-caps;
}
#creaturecol {
	font-size: larger;
	font-weight: bold; 
	font-variant: small-caps;
}
#humancol {
	font-size: larger;
	font-weight: bold; 
	font-variant: small-caps;
}
.crawltext {
	margin: auto;	
	text-align: center;
	box-sizing: content-box;
	width: 60%;
	font-size: larger;
	font-weight: bold;
}
.longtime {
	color: lightskyblue;
	text-align: center;
}
.aliensvcreatures {
	text-align: center;
}
.aliensheader {
	text-align: left;
	margin-left: 1.5em;
}
.creaturesheader {
	text-align: left;
	margin-left: 1.5em;
}
.referenceheader {
	text-align: center;
}
.wampaheader {
	text-align: left;	
	margin-left: 1.5em;
}
.wamprofile {
	color: #efcc00;
	justify-items: center;
}
.banthaheader {
	text-align: left;	
	margin-left: 1.5em;
}
hr {
		align: center;
		border: none; 
		height: 2px;
		margin: auto;
		width: 80%;
		color: crimson;
		background-color: crimson;
	}
.containerone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.containerone img {
	border-radius: 10px;
}
.creatureintrotext {
	color: lightskyblue;
	margin-left: 1em;
	font-size: larger;
	width: 40%;
	text-align: center;
}
.containertwo {
	display: flex;
	flex-direction: row;
	align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.containertwo img {
	border-radius: 10px; 
}
.alienstext {
	color: lightskyblue;
	font-size: larger;
	text-align: justify;
	width: 70%;
	margin: auto;
}
.containerthree {
	display: flex;
	flex-direction: row;
	align-items: center;
  justify-content: left;
  margin-top: 5%;
  margin-bottom: 5%;
}
.containerthree img {
	border-radius: 10px; 
}
.creaturestext {
	color: lightskyblue;
	font-size: larger;
	text-align: justify;
	width: 70%;
	margin: auto;
}
.wampagall {
	display: inline-flex;
}
.wampapics {
	flex-direction: column;
	align-items: left;
  margin-top: 5%;
  margin-bottom: 5%;
}
.wampainfo {
	justify-content: center;
	color: lightskyblue;
	font-size: medium;
	text-align: start;
	margin-left: 3em;
	margin-top: 1.5em;
}
.wampalist li {
	padding: 5px;
}
.wampastories {
	margin-top: 2em
}
.wampagall img {
	border-radius: 10px; 
}
.wampagall figcaption {
	text-align: left;
}
.banthagall {
	display: inline-flex;
}
.banthapics {
	flex-direction: column;
	align-items: left;
  margin-top: 5%;
  margin-bottom: 5%;
}
.banthainfo {
	justify-content: center;
	color: lightskyblue;
	font-size: medium;
	text-align: start;
	margin-left: 3em;
	margin-top: 1.5em;
}
.banthalist li {
	padding: 5px;
}
.banthastories {
	margin-top: 2em
}
.banthagall figcaption {
	text-align: left;
}
.banthagall img {
	border-radius: 10px; 
}
figcaption {
	text-align: center;
	}
a:visited {
	color: #652770;
}
a {
	color: #efcc00;
}

